//VERSION TABLETTE
@media only screen and (min-width: 780px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 2rem;
    }



}

// VERSION DESKTOP
@media only screen and (min-width: 1200px) {}