* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-default);
    font-size: var(--font-size-medium);
    color: var(--text-color-default);
    background-color: var(--bg-light-beige);
    line-height: 1.5;
}

.header,
.footer {
    width: 100%;
    background-color: var(--bg-blue);
}

.main {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1,
nav,
a {
    font-family: var(--font-family);
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-huge);
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
}

th,
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.button {
    font-size: var(--font-size-medium);
    background-color: var(--grey-brown);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    font-weight: var(--font-weight-black);
    border-radius: var(--small-radius);
    margin: var(--margin-xxs);
    padding: var(--padding-xs);
}


.inputGroup {
    margin: 0 auto;
    width: 90%;
    font-size: var(--font-size-big);
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: var(--font-size-large);
    margin: 1rem;
}

.inputField,
.inputSelect,
.inputTextarea,
.submitButton {
    font-size: var(--font-size-large);
    padding: var(--padding-s);
    border-radius: var(--basic-radius);
}

.card {
    margin: 0 auto;
    padding: var(--padding-s);
    width: 100%;
    text-align: center;
    border-radius: var(--basic-radius);
    box-shadow: 6px 6px 0 var(--shadow-color), 0 0 0 2px var(--shadow-color);
}

.workshopCard {
    margin: 0 auto;
    width: 100%;
    margin: var(--margin-xs);
    padding: var(--padding-m);
    text-align: center;
    border-radius: var(--basic-radius);
    background-color: var(--bg-white);
    box-shadow: 6px 6px 0 var(--shadow-color), 0 0 0 2px var(--shadow-color);
}


/*// VERSION TABLETTE
@media only screen and (min-width: 780px) {
    :root {
        --font-size-default: 1rem;
    }
}

// VERSION DESKTOP
@media only screen and (min-width: 1200px) {
    :root {
        --font-size-default: 1.6rem;
    }
}*/